{% extends 'pages.html' %}
{% load crispy_forms_tags %}
{% load crispy_forms_field %}
{% load crispy_forms_filters %}
{% load crispy_forms_utils %}
{% load static %}

{% block title %}

<h1 class="fw-bolder">Editar</h1>

<p class="lead mb-0">Mejora tu articulo</p>

<a href="{% url 'posts' %}" class="btn btn-outline-secondary">Posts</a>


{% endblock title %}
{% block blog %}


<div class="p-4 my-4 shadow rounded mx-auto">

    <form action="{% url 'edit_post' post.id %}" method="POST" enctype="multipart/form-data"> 
        
        {% csrf_token %}
        
        <div class="d-flex flex-column gap-3">

            {{ form.media }}
            {{ form | crispy }}
            <input type="submit" value="Update" class="btn btn-primary">
        </div>
    </form>
    

    <div class="d-flex flex-column gap-3">
        {% if request.user == post.user %}
            <a href="{% url 'DeletePost' post.id %}" class="btn btn-warning">Delete Post</a>
        {% endif %}
    </div>
</div>

{% endblock blog %}

