{% extends 'pages.html' %}

{% load static %}

{% block title %}

<h1 class="fw-bolder">Crea Tu Post</h1>

<p class="lead mb-0">Escribe un articulo sobre tu anime favorito</p>


<a href="{% url 'posts' %}" class="btn btn-outline-secondary">Posts</a>

{% endblock title %}
{% block blog %}

<h5>Posts:</h5>
<div class="card card-body ml-3 mr-3">
    <table class="table table-sm">
        <tr>
            <th>Category</th>
        </tr>
        {% for post in posts %}
        <tr>
            <td>{{ post.category }}</td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock blog %}