{% extends 'pages.html' %}

{% load static %}

{% block title %}

<h1 class="fw-bolder">Mis Posts</h1>

<a href="{% url 'posts' %}" class="btn btn-outline-secondary">Posts</a>

{% endblock title %}
{% block blog %}

<div class="p-4 my-4 shadow rounded mx-auto">

        {% if posts|length > 0 %}
            {% for post in posts %}
                <a href="{% url 'post_detail' post.id %}"><img class="card-img-top" src="/media/{{ post.photo }}" alt="..." /></a>
                <div class="card-body">
                    <div class="small text-muted">{{ post.published_at }}</div>
                        <a href="{% url 'post_detail' post.id %}"><h2 class="card-title h4">{{ post.anime_name }}</h2></a>
                            <p>{{ post.sub_name }}</p>
                    <a href="{% url 'edit_post' post.id %}" class="btn btn-success"><i class="fa fa-edit"></i> Edit</a><a href="{% url 'DeletePost' post.id %}" class="btn btn-danger"><i class="fa fa-trash"></i> Delete</a>
                </div>
            {% endfor %}

        {% else %}
        
        <a href="{% url 'add_post' %}" class="btn btn-dark">Crear Post</a>

        {% endif %}
</div>

{% endblock blog %}